// main: styles.less
//Remove padding for nested containers
.container-fluid .container {
    padding-left: 0;
    padding-right: 0;
}

section {
    height: 100%;
}

.highlight(@variantDark, @variantight);
@font-size-base: 15px;
//**********************************************************************
//Push menu toggle with Jasny Bootstrap
//**********************************************************************
html,
body {
    height: 100%;
    background-color: #000;
}

body {
    padding: 50px 0 0 0;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block;
        /* force showing the toggle */
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }
    .navbar {
        right: auto;
        background: none;
        border: none;
    }
    //        .about-me {
    //        padding-top: 0;
    //    }
}

//**********************************************************************
//Animated burger icon acccording to Julien Melissas
//https://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/
//**********************************************************************
.navbar-toggle {
    border: none;
    background: transparent !important;
    &:hover {
        background: transparent !important;
    }
    .icon-bar {
        width: 42px;
        height: 7px;
        transition: all 1s;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}

//transparent background for navbar menu
@media (min-width: 0) {
    .navbar-default {
        background-color: transparent;
        border: none;
    }
}

//moves closing X in menu to the left for very small screens
@media (max-width: 380px) {
    div.canvas-slid {
        left: 220px !important;
    }
}

@media (max-width: 992px) {
    .bio {
        background-color: black;
    }
}

//**********************************************************************
//**********************************************************************
.about-me {
    height: 100%;
    padding-top: 20px;
    background-color: #030305;
    .bio {
        font-size: 32px;
        color: @consoleUI;
    }
    .page-header {
        position: relative;
        color: @consoleUI;
    }
}

.console {
    overflow: hidden;
    resize: both;
    z-index: 1000;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    position: relative;
    background-color: @consoleBG;
    color: @consoleText;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11px;
    letter-spacing: 0;
    .border-radius(5px);
    padding: 40px 5px 5px;
    border: 5px solid @consoleFrame;
    .console-symbol {
        color: @consoleSymbol;
        font-weight: bold;
    }
    .console-start {
        font-weight: bold;
    }
    .console-top-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background-color: @consoleFrame;
        .console-title {
            color: @consoleTitle;
            margin-left: 10px;
            line-height: 2.6em;
            font-size: 10px;
        }
        .ui-x {
            .border-radius(50%);
            text-align: center;
            display: inline-block;
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: @consoleUI;
            color: @consoleFrame;
            right: 10px;
            top: 3px;
            cursor: pointer;
            i {
                top: 3.5px;
            }
        }
        .ui-up {
            .ui-x;
            right: 40px;
            i {
                top: 3px;
                left: 0.5px;
            }
        }
        .ui-down {
            .ui-x;
            right: 70px;
            i {
                left: 0.5px;
            }
        }
    }
    .typed-cursor {
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.img-bg {
    display: none;
}

.img-bg,
.img-stroke,
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
